<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-family-monospace has-text-weight-bold has-text-black has-text-centered" routerLink=""
            routerLinkActive="active">
            <fa-icon icon="store" class="mr-2"></fa-icon>
            EL BARATON
        </a>

        <a role="button" class="navbar-burger burger " (click)="navMenu()" [ngClass]="{'is-active': navburger}"
            aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu has-text-centered" [ngClass]="{'is-active': navburger}">


        <div class="navbar-end">

            <div class="navbar-item " [ngClass]="{'is-sr-only': !isAuthenticated}">
                <a class="button is-fullwidth is-primary">
                    <fa-icon icon="shopping-cart" class="fa-lg"> </fa-icon>
                </a>
            </div>

            <div class="navbar-item" [ngClass]="{'is-sr-only': isAuthenticated}">
                <a class="button  is-fullwidth is-primary" routerLink="login">
                    <strong> Sign in </strong>
                </a>
            </div>

            <div class="navbar-item" [ngClass]="{'is-sr-only': isAuthenticated}">
                <a class="button is-fullwidth is-light" routerLink="register">
                    Sign up
                </a>
            </div>

            <div class="navbar-item" [ngClass]="{'is-sr-only': !isAuthenticated}">
                <a class="button is-fullwidth is-primary" (click)="signOut()">
                    <strong> Sign out</strong>
                </a>
            </div>



        </div>
    </div>
</nav>