<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-hidden-touch is-family-monospace has-text-weight-bold has-text-black has-text-centered"
            routerLink="" routerLinkActive="active">
            <fa-icon icon="store" class="mr-2"></fa-icon>
            EL BARATON
        </a>
        <a class="navbar-item  ml-auto is-hidden-desktop  is-family-monospace has-text-weight-bold has-text-black has-text-centered"
            routerLink="" routerLinkActive="active">
            <fa-icon icon="store" class="mr-2"></fa-icon>
            EL BARATON
        </a>
        <a role="button" class="navbar-burger burger " (click)="navMenu()" [ngClass]="{'is-active': navburger}"
            aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': navburger}">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    <a class="button is-primary" [ngClass]="{'is-sr-only': isAuthenticated}" routerLink="login" >
                        <strong> Sign in </strong>
                    </a>
                    <a class="button is-primary" [ngClass]="{'is-sr-only': !isAuthenticated}" (click)="signOut()">
                        <strong> Sign out</strong>
                    </a>
                    <a class="button is-light" [ngClass]="{'is-sr-only': isAuthenticated}"  routerLink="register">
                        Sign up
                    </a>
                </div>
            </div>
        </div>

    </div>
</nav>