<div class="modal" [ngClass]="{'is-active': loginModal}">
  <div class="modal-background" (click)="showLoginModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Login</p>
      <button class="delete" aria-label="close" (click)="showLoginModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <fa-icon icon="envelope"></fa-icon>
          </span>
          <span class="icon is-small is-right">
            <fa-icon icon="check"></fa-icon>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <fa-icon icon="lock"></fa-icon>
          </span>
        </p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success is-medium is-fullwidth">Login</button>
      <button class="button is-medium is-fullwidth" (click)="showLoginModal()">Cancel</button>
    </footer>
  </div>
</div>