<div class="columns is-multiline m-1 ">

  <div class="column  is-one-third-desktop is-one-quarter-fullhd is-half-tablet" *ngFor="let item of items | async">
    <div class="card ">
      <div class="card-image" (click)="showModalProd(item)">
        <figure class="image is-4by3 is-marginless">
            <img src="https://cdn.hipwallpaper.com/i/8/76/NK3Z5R.jpg" alt="Placeholder image">

        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://cdn.hipwallpaper.com/i/8/76/NK3Z5R.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="subtitle is-6">Cost: {{item.price}}</p>
            <p class="title is-6">Product: {{item.name}}</p>
            <p class="subtitle is-6">Quantity in stock: {{item.quantity}}</p>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span class="has-text-black">
            <ng-container *ngIf=" item.available; else elseTemplate">
              <a class="has-text-black " (click)="showModalProd(item)">
                Add car
                <fa-icon icon="cart-plus"></fa-icon>
              </a>
            </ng-container>
            <ng-template #elseTemplate>
              not available
            </ng-template>
          </span>
        </p>
      </footer>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': modalProd}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-image">
        <figure class="carrusel is-2by1">
          <ul>
            <li><img src="https://cdn.hipwallpaper.com/i/8/76/NK3Z5R.jpg" alt="Placeholder image"></li>
            <li><img src="https://cdn.pixabay.com/photo/2015/02/06/01/14/wallpaper-625623__340.png"
                alt="Placeholder image"></li>
            <li><img src="https://cdn.pixabay.com/photo/2017/02/15/07/32/desktop-2067806__340.png"
                alt="Placeholder image"></li>
            <li><img src="https://cdn.pixabay.com/photo/2017/02/14/08/50/desktop-2065337__340.png"
                alt="Placeholder image"></li>
            <li><img src="https://cdn.pixabay.com/photo/2014/11/25/10/16/wave-545056__340.jpg" alt="Placeholder image">
            </li>
          </ul>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://cdn.hipwallpaper.com/i/8/76/NK3Z5R.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{prod.name}}</p>
            <p class="subtitle is-6">{{prod.price}}</p>
          </div>
        </div>
      </div>
      <footer class="card-footer">

        <p class="card-footer-item ">
          <span class="has-text-black">
            <input class="input number has-text-black" type="number" min="1" max={{prod.quantity}} #value
              (keyup)="keyInput(value.value, prod.quantity)" [(ngModel)]="quantity">
          </span>
        </p>
        <p class="card-footer-item is-2">
          <a class="has-text-black" (click)="addCar()">
            <span>
              Add
              <fa-icon icon="cart-plus"></fa-icon>
            </span>
          </a>
        </p>

      </footer>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>