<aside class="menu m-sm-3 m-md-3 mt-lg-3 mt-xl-3 box">
  <ul class="menu-list">
    <li>
      <a [routerLink]="['/']">All products</a>
    </li>
  </ul>

  <div *ngFor="let item of items | async">
    <p class="menu-label">
      {{item.name}}
    </p>
    <ul class="menu-list" *ngFor="let item of item.sublevels">
      <li><a [routerLink]="[ '/products', item.id ]">{{item.name}}</a>
        <ul *ngFor="let item of item.sublevels">
          <li><a [routerLink]="[ '/products', item.id ]">{{item.name}}</a>
            <ul *ngFor="let item of item.sublevels">
              <li><a [routerLink]="[ '/products', item.id ]">{{item.name}}</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>