<div class="content has-text-centered" *ngIf="_infoAuthor.load">
  <p>
    <fa-icon icon="envelope" aria-hidden="true"></fa-icon><a> {{_infoAuthor.infoAuthor.email}} <b>or</b> {{_infoAuthor.infoAuthor.secondEmail}}</a>
  </p>
  <p>
    <fa-icon icon="phone" aria-hidden="true"></fa-icon><a> {{_infoAuthor.infoAuthor.phone}} <b>or</b> {{_infoAuthor.infoAuthor.secondPhone}}</a>
  </p>
  <p>
    <fa-icon icon="copyright" aria-hidden="true"></fa-icon><a> {{_infoAuthor.infoAuthor.name}}</a>
  </p>
  <p>
    <fa-icon icon="code-branch" aria-hidden="true"></fa-icon><a  target="_blank" href="{{_infoAuthor.infoAuthor.github}}"> {{_infoAuthor.infoAuthor.github}}</a>
  </p>
</div>